---
layout: archive
---

{{ content }}

I am a Research Associate in the Department of Computer Science at the University of Luxembourg where I work on development and evaluation of conversational agents. 
Specifically, my current research focuses on assessment of cognitive and usability implications of interfaces that feature speech, and exploration of their potential to inspire positive behavioural change in users.

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Main Interests" }}</h2>

 <ul>
  <li>Conversational Agents</li>
  <li>Pragmatics</li>
  <li>User-centered Design</li>
</ul> 
  
