---
layout: single
---

I am a Research Associate in the <a href="https://www.uni.lu/fstm-en/research-departments/department-of-computer-science/">Department of Computer Science at the University of Luxembourg</a> and a member of <a href="https://www.uni.lu/fstm-en/research-groups/computational-interaction/">Computational Interaction (COIN)</a>, where I work on development and evaluation of conversational agents. 
Specifically, my current research focuses on assessment of cognitive and usability implications of interfaces that feature speech, and exploration of their potential to inspire positive behavioural change in users.

<h2>Main Interests</h2>

 <ul>
  <li>Conversational Agents</li>
  <li>Pragmatics</li>
  <li>User-centered Design</li>
</ul> 
  
<h2>News</h2>

 <ul>
  <li>(July 2024) "“Hey Genie, You Got Me Thinking About My Menu Choices!” Impact of Proactive Feedback on User Perception and Reflection in Decision-making Tasks" has been accepted to <em>ACM Transactions on Computer-Human Interaction journal</em>.  &#127882;</li>
</ul>
